body
{
	background: bisque;
	font-family: garamond;
	margin: 0;
}

header{
	background: azure;
	color: green;
}


header h3{
	margin:0;
	display: inline;
}

nav ul{
	margin: 0;
	display: inline;;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	background: floralwhite;
	margin: 10px;
	padding: 7px 15px;
}

h1,h2,h3,p{
	color: tomato;
	width: 100%;
}

a{color: Sienna;}

.secondHeading{color: Sienna;}

.thirdHeading
{
	background: tomato;
	color: black;
}

.col
{
	font-family: sans-serif;
	background: tomato;
	color: Sienna;
	float: left;
	width: 31%;
	margin: 1%;
	border-radius: 10px;
}

.darkBG{
	background: #999;
}

.darkerBG{
	background: #666;
}

.darkestBG{
	background: #333;
	color: white;
}

footer{
	clear: both;
}
