body{
  background: snow;
	font-family: palatino;
	margin: 0;
}

table{
  border: 1px solid PaleVioletRed;
}

th, td{
  padding: 15px;
  text-align: center;
  border: 1px solid PaleVioletRed;
}


.mainHeader{
  font-size: 32px;
  padding: 22px 0px 35px 0px;

}

.underlineColor{
  border-bottom-color: PaleTurquoise;
}

.mainHeader2{
  font-size: 32px;
  padding: 22px 0px 5px 0px;
  color: PaleVioletRed;
  font-family: garamond;

}



.divGap{
  padding-bottom: 10px;
}

.subHeader{

  font-size: 25px;
  color: PaleVioletRed;
  font-family: garamond;

}

.subHeader2{

  font-size: 40px;
  color: PaleVioletRed;
  font-family: garamond;

}

.topic{
  padding-bottom: 0px;
  font-size: 25px
}

.aLink{
  color: IndianRed;
  text-decoration: none;
}

.tableHeader{
  color: PaleTurquoise;
}
a.aLink:hover{color: PaleTurquoise;}


.description{
  margin-left: 250px;
  margin-right: 250px;
  font-size: 17px;
  padding: 5px;
  line-height: 30px;
  font-family: garamond;

}

.ulPositioner{
  margin-left: 250px;
  margin-right: 250px;
  line-height: 30px;

}

.ulPositioner2{
  margin-left: 215px;
  margin-right: 250px;
  line-height: 50px;
  list-style-type: none;

}

.info{
  color: PaleVioletRed;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 0px;
  padding-top: 0px;
  line-height: 25px;
}
